dsw2/src/main/resources/xsd/productos.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://cibertec.com/productos"
           targetNamespace="http://cibertec.com/productos"
           elementFormDefault="qualified">

    <xs:element name="getProductoRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getProductoResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="producto" type="tns:Producto"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getAllProductosRequest">
        <xs:complexType/>
    </xs:element>

    <xs:element name="getAllProductosResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="productos" type="tns:Producto" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="Producto">
        <xs:sequence>
            <xs:element name="id"          type="xs:int"/>
            <xs:element name="nombre"      type="xs:string"/>
            <xs:element name="descripcion" type="xs:string"/>
            <xs:element name="precio"      type="xs:double"/>
            <xs:element name="stock"       type="xs:int"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>